@charset "utf-8";
/* CSS Document */

body,td,th { font-size: 12px; font-family: Verdana, Arial, Helvetica, sans-serif; }
body { margin-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; background-image: url(../images/newwopop_error1.jpg); background-repeat: repeat; }
a:link { color: #666666; text-decoration: underline; }
a:visited { text-decoration: none; color: #666666; }
a:hover { text-decoration: underline; color: #333; }
a:active { text-decoration: none; color: #666666; }
.Linux_kuang { width: 800px; margin-right: auto; margin-left: auto; }
.Linux_logo { background-image: url(../images/logo.png); background-repeat: no-repeat; background-position: left top; height: 55px; width: 200px; margin-top: 40px; margin-left: 300px; }
.Linux_bg { background-image: url(../images/Linux_bg.jpg); height: 404px; width: 604px; margin-right: auto; margin-left: auto; margin-top: 40px; }
.Linux_biaoti { font-size: 18px; font-weight: normal; color: #333333; padding-top: 15px; text-align: center; line-height: 28px; }
.Linux_1_kuang{ width:600px; height: 70px; }
.Linux_1 { background-image: url(../images/Linux_1.jpg); background-repeat: no-repeat; text-align: center; height: 38px; width: 27px; margin-top: 20px; margin-left: 70px; float: left; margin-right: 60px; }
.Linux_1_zi { font-size: 12px; float: left; width: 440px; padding-top: 30px; }
.Linux_2_kuang{ width:600px; height: 52px; }
.Linux_2 { text-align: center; height: 30px; width: 57px; margin-top: 12px; margin-left: 53px; float: left; margin-right: 47px; }
.Linux_2_zi { font-size: 12px; float: left; width: 440px; padding-top: 20px; }
.Linux_3_kuang{ width:600px; height: 57px; }
.Linux_3 { text-align: center; height: 28px; width: 54px; margin-top: 12px; margin-left: 55px; float: left; margin-right: 48px; }
.Linux_3_zi { font-size: 12px; float: left; width: 410px; padding-top: 14px; padding-right: 30px; }
.Linux_4_kuang{ width:600px; height: 52px; }
.Linux_4 { text-align: center; height: 24px; width: 80px; margin-top: 15px; margin-left: 40px; float: left; margin-right: 37px; }
.Linux_4_zi { font-size: 12px; float: left; width: 425px; padding-top: 18px; padding-right: 15px; }

.Linux_5 { text-align: center; height: 36px; width: 94px; margin-top: 20px; margin-left: 60px; float: left; margin-right: 25px; }

.Linux_6 { text-align: center; height: 28px; width: 54px; margin-top: 23px; margin-left: 25px; float: left; margin-right: 25px; }

.Linux_7 { text-align: center; height: 30px; width: 57px; margin-top: 20px; margin-left: 25px; float: left; margin-right: 25px; }

.Linux_8 { background-image: url(../images/Linux_6.jpg); background-repeat: no-repeat; text-align: center; height: 40px; width: 124px; margin-top: 15px; margin-left: 25px; float: left; margin-right: 37px; }
.linux_xz { font-size: 14px; }
